<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- font declarations -->
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">about</a>
            <a class="extra" href="/work.html">work</a>
            <a class="extra" href="/academic.html">academia</a>
            <a class="extra" href="/pdfs/resume.pdf">resume</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Saxon Jensen<br />
                Software Engineer  
              </p>
            </div>
            <div class="contact" style="float: right;">
              <p>
                <a href="https://github.com/saxj">github.com/saxj</a><br />
                <a href="https://bitbucket.org/SaxJ">bitbucket.org/SaxJ</a><br />
                <a href="http://www.linkedin.com/pub/saxon-jensen/65/7a1/186">linkedin</a>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
